sql-files/
data/raw/*
data/models/*
data/processed/*

!data/*/.gitkeep
!data/processed/taxonomy.json
!data/processed/sample_queries.csv

# Clutter
*.bak
.DS_Store
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.env
