sql-files/
data/raw/*
data/models/*
data/processed/*

!data/*/.gitkeep
!data/processed/taxonomy.json
!data/processed/sample_queries.csv
!data/processed/entity_labels.csv
!data/processed/entity_label_remarks.csv
!data/processed/amenity_spot_check.csv

# Clutter
*.bak
.DS_Store
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.env
